﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="index.aspx.cs" Inherits="Practica2.index" %>

<!DOCTYPE html>
<html lang="en">
<head runat="server">
	<title>Productos Fiesta S.A.</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
    <script>

        javascript: window.history.forward(1);

    </script>
</head>
<body>	
	<div class="limiter">       
		<div class="container-login100" style="background-image: url('images/fondoLogin.jpeg');">
			<div class="wrap-login100 p-t-190 p-b-30">
                <asp:Literal ID="escribirHTML" runat="server"></asp:Literal>
				<form class="login100-form validate-form" runat="server">                   
					<div class="login100-form-avatar">
						<img src="images/avatar-01.jpg" alt="AVATAR">
					</div>

					<span class="login100-form-title p-t-20 p-b-45">
						Bienvenido
					
					</span><div class="wrap-input100 validate-input m-b-10" <%--data-validate = "Username is required"--%>>
						&nbsp;<span class="focus-input100"></span>
                        <input class="input100" type="text" name="username" placeholder="Usuario" id="User" runat="server" style="margin:0;"></div>

					<div class="wrap-input100 validate-input m-b-10" <%--data-validate = "Password is required"--%>>
						<input class="input100" type="password" name="pass" placeholder="Contraseña" id="Pass" runat="server" style="margin:0;">
						<span class="focus-input100"></span>
	
					</div>

					<div class="container-login100-form-btn p-t-10">
						<button class="login100-form-btn" ID="btnLogin" runat="server" onserverclick="btnLogin_Click" style="margin:0;">
							Acceder</button>
					</div>

					<div class="text-center w-full p-t-25 p-b-230">
						<a href="#" class="txt1">
							¿Olvidaste tu contraseña?					
						</a>
					</div>
                    

				</form>
			</div>
		</div>

	</div>
   
	
<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>
