﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="materiales.aspx.cs" Inherits="Practica2.materiales" %>

<!DOCTYPE html>
<html lang="en">
<head runat="server">
	<title>Productos Fiesta S.A.</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</head>
<body>

    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <a class="navbar-brand" href="#">
        <img src="/images/usac.png" width="230" height="90" class="d-inline-block align-center" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="cargaMasiva.aspx">Carga Masiva<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="productos.aspx">Productos</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="colores.aspx">Colores</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="materiales.aspx">Materiales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tipos.aspx">Tipos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="usuarios.aspx">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.aspx">Cerrar Sesion</a>
                </li>
            </ul>
        </div>
   </nav>




    <form id="form1" runat="server" class="w-50 p-3" style="margin: 0 auto; margin-top:30px;">
        
        <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Material</th>
    </tr>
  </thead>
  <tbody>
    <asp:Literal ID="LiteralCodigo" runat="server"></asp:Literal>      
  </tbody>
</table>
    </form>
</body>
</html>
